Package: com.samgisaninja.successioncli
Name: SuccessionCLI
Version: 1.0~alpha2
Architecture: iphoneos-arm
Description: Restore without updating via rootfilesystem DMG
Maintainer: Samg_is_a_Ninja, demhademha
Author: Samg_is_a_Ninja <samgisaninja@unc0ver.dev>, demhademha
Section: Utilities
Depends: coreutils-bin, coreutils, firmware-sbin, rsync, curl, p7zip, grep, gawk
