Package: com.samgisaninja.successioncli
Name: SuccessionCLI
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Sam Gardner
Author: Sam Gardner
Section: System
Tag:
