Package: com.samgisaninja.successionrestore
Name: Succession
Version: 1.4.15
Architecture: iphoneos-arm
Description: Restore without updating via rootfilesystem DMG
Maintainer: Samg_is_a_Ninja
Author: Samg_is_a_Ninja
Section: Utilities
Depends: firmware-sbin, rsync
Icon:file:///Applications/SuccessionRestore.app/AppIcon60x60@3x.png
