Package: com.samgisaninja.SuccessionRestore
Name: Succession [beta]
Version: 0.9~b4
Architecture: iphoneos-arm
Description: Restore without updating via rootfilesystem DMG
Maintainer: Samg_is_a_Ninja
Author: Samg_is_a_Ninja
Section: Utilities
Depends: firmware-sbin, rsync
